<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 管理中心</a></li>
        <li class="active">资源爬取</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">爬取 <b>简书</b> 上的文章</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block">爬取<b>用户</b>下的所有文章</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block">爬取<b>专题</b>下的所有文章</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-block">爬取<b>文集</b>下的所有文章</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

{{#section 'js'}}
    <script>
        alert('ddd')
    </script>
{{/section}}