<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <a href="https://www.digitalocean.com/" target="_blank">DigitalOcean</a> 强力驱动 | <b>Version</b> {{site.version}}
        </div>
        <strong>Copyright &copy; 2016 <a href="http://wincn.net">Wincn.net</a>.</strong> All
        rights
        reserved.
    </div>
</footer>
<a href="https://github.com/gefangshuai/ANodeBlog"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 9999999999" src="/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
{{>js}}