<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <a href="https://www.digitalocean.com/?refcode=e188e648d051" target="_blank">DigitalOcean</a> 强力驱动 | <b>Version</b> {{site.version}}
            |
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_4141549'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D4141549' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        <strong>Copyright &copy; 2016 <a href="http://wincn.net">Wincn.net</a>.</strong> All
        rights
        reserved.
    </div>
</footer>
<a href="https://github.com/gefangshuai/ANodeBlog"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 9999999999" src="/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
{{>js}}