<!-- /.content-wrapper -->
<footer class="main-footer bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-bottom">
            </div>
            <div class="col-md-4">

                <p>
                    <b>Copyright &copy; 2016</b>
                </p>
                <p>
                    <b>
                        <a href="https://raw.githubusercontent.com/gefangshuai/ANodeBlog/master/LICENSE" target="_blank">Article License</a>
                    </b>
                </p>
                <p>
                    <a href="https://github.com/gefangshuai/ANodeBlog">Fork me on Github</a>
                </p>
                <p>
                    Since 2015.11
                </p>
            </div>
            <div class="col-md-4">
                <h4><b>Contact US</b></h4>
                <p><b><i class="fa fa-envelope"></i></b> <a href="mailto:gefangshuai@outlook.com">gefangshuai@outlook.com</a></p>
                <p><b><i class="fa fa-weibo"></i></b> <a href="http://weibo.com/gefangshuai" target="_blank">http://weibo.com/gefangshuai</a></p>
                <p><b><i class="fa fa-github"></i></b> <a href="https://github.com/gefangshuai" target="_blank">https://github.com/gefangshuai</a></p>
            </div>
            <div class="col-md-4 text-right">
                <p>
                    <b>
                        Build by Nodejs + Express
                    </b>
                </p>
                <p>
                    <b>Version</b> {{site.version}}
                </p>

                <p>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_4141549'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D4141549' type='text/javascript'%3E%3C/script%3E"));</script>
                </p>
                <p>
                    <a href="https://www.digitalocean.com/?refcode=e188e648d051" target="_blank">DigitalOcean</a> 强力驱动
                </p>
            </div>
        </div>
    </div>
</footer>

<!--<a href="https://github.com/gefangshuai/ANodeBlog"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 9999999999" src="/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>-->
{{>js}}