<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{site.version}}
        </div>
        <strong>Copyright &copy; 2016 <a href="http://wincn.net">Wincn.net</a>.</strong> All
        rights
        reserved.
    </div>
</footer>
{{>js}}