<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/highlight.js/styles/github-gist.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/AdminLTE2/css/AdminLTE.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/AdminLTE2/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<link rel="stylesheet" href="/css/style.css">

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<title>{{site.title}} | {{site.description}}</title>