<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ABlog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"> 热门 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">最新发表</a></li>
                    <li><a href="#">最多评论</a></li>
                    {{#if session.passport.user}}
                        <li><a href="/p/i-favorite">我喜欢的</a></li>
                        <li><a href="/p/i-post">我发表的</a></li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if session.passport.user}}
                        <li><a href="/user/p/create"> <i class="fa fa-edit"></i> 发表文章</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i> {{session.passport.user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">个人信息</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout"> 退出</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li><a href="/login">登陆</a></li>
                        <li><a href="/join">注册</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>