<header class="main-header">
    <nav class="navbar navbar-static-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>{{site.title}}</b></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {{#equals menu 'new'}}class="active"{{/equals}}><a href="/new">最新发表</a></li>
                    <li {{#equals menu 'hot'}}class="active"{{/equals}}><a href="/hot">热门文章 <span class="sr-only">(current)</span></a></li>
                    <li {{#equals menu 'fire'}}class="active"{{/equals}}><a href="/fire"><i class="fa fa-fire text-red"></i> 被点亮的文章</a></li>


                </ul>
            </div>


            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="searchBtn"><i class="fa fa-search"></i></a></li>
                    {{#if session.duoshuoUser}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{session.duoshuoUser.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/reader/favorite">我的收藏</a></li>
                                <li role="separator" class="divider"></li>
                                <!--<li><a href="http://gefangshuai.duoshuo.com/logout/?sso=1&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fsso-logout">退出</a></li>-->
                                <li><a href="http://gefangshuai.duoshuo.com/logout/?sso=1&redirect_uri=http%3A%2F%2Fwincn.net%2Fsso-logout">退出</a></li>
                            </ul>
                        </li>
                   {{else}}
                       <li>
                           <a href="/login">加入我们</a>
                       </li>
                   {{/if}}
                </ul>
            </div>
            <form method="get" style="display: none" class=" navbar-form navbar-right" role="search" action="http://www.google.com/search" target="_blank">
                <div class="form-group has-feedback">
                    <span class=" glyphicon glyphicon-search form-control-feedback-left text-primary" aria-hidden="true"></span>
                    <input class="form-control input-radius input-sm feedback-left-input" style="padding-right: 10px; min-width: 220px; margin-top: 2px;" type="text" name="q" placeholder="Google Search">
                </div>
                <input type="hidden" name="ie" value="UTF-8">
                <input type="hidden" name="oe" value="UTF-8">
                <input type="hidden" name="hl" value="zh-CN">
                <input type="hidden" name="domains" value="wincn.net">
                <input type="hidden" name="sitesearch" value="wincn.net">
            </form>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
