<tr>
    <td>
        <div class="article">
            <div class="media">
                <div class="media-left">
                    <img class="media-object touxiang" src="{{gravatar _user.email}}">
                </div>
                <div class="media-body article-cell">
            <span class="media-heading">
                <span class="label label-primary">置顶</span>
                <a href="/p/{{id}}">{{title}}</a>
            </span>
                    <span class="pull-right time-from-now">{{timeFromNow created_time}}</span>
                </div>
            </div>
        </div>
    </td>
</tr>