<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> 管理中心</a></li>
        <li><a href="/dashboard/p"><i class="fa fa-file-text"></i> 文章管理</a></li>
        <li class="active">写文章</li>
    </ol>
</section>
<section class="content">
    <form role="form" action="/dashboard/p/create" method="post">
        <input type="hidden" name="id" value="{{article._id}}">
        <div class="box box-primary " id="createP">
            <div class="box-header with-border">
                <h3 class="box-title">发表分享文章</h3>
                <a href="http://jonschlinkert.github.io/remarkable/demo/" target="_blank">Markdown语法参考</a>
                <a href="#" data-toggle="fullscreen" data-target="#createP"><i class="fa fa-arrows-alt pull-right"></i></a>
            </div>
            <div class="box-body create">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <select class="form-control" name="type" id="">
                                        <option value="分享">分享</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input class="form-control" id="title" name="title" placeholder="输入标题" type="text"
                                           value="{{article.title}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url">文章链接</label>
                            <input type="text" class="form-control" name="url" id="url" placeholder="如：http://wincn.net/p/ddddd">
                        </div>
                        <div class="form-group">
                            <label for="source">文章来源</label>
                            <input type="text" class="form-control" name="source" id="source" placeholder="如：wincn开发网">
                        </div>
                        
                        <button type="submit" class="btn btn-primary"><i class="fa fa-location-arrow"></i> 发布</button>
                    </div>
                </div>
            </div>
            <div class="box-footer">
            </div>
        </div>
    </form>
</section>

<script>

</script>