<!doctype html>
<html>
<head>
    {{> head}}
</head>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">
    {{>header}}
    {{> flash-message}}
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            {{{body}}}
        </div>
    </div>
</div>

<div id="userPopover" style="display: none">
    <p>content</p>
</div>


{{>footer}}
<script src="/js/app.js"></script>
{{{_sections.js}}}
</body>
</html>