<div class="row margin">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <h2>404</h2>
                <p>Page Not Found!</p>
                <p>
                    <a href="/" class="btn btn-primary">
                        返回首页
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
