<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading ">
                <strong>文章列表</strong>
            </div>
            <div class="panel-body">
                {{#each articles}}
                    {{> article}}
                {{/each}}
            </div>
        </div>
    </div>
</div>