<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">文章列表</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">

        <div class="col-md-9">
            {{#if articles}}
                <table class="table table-hover bg-white">
                    {{#each articles}}
                        {{> index-article}}
                    {{/each}}
                </table>
            {{else}}
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="help-block">
                            此作者比较懒，没有发表任何文章!
                            去 <a href="/">首页</a> 浏览更多文章
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <b>最近访客</b>
                </div>
                <div class="box-body">
                    <ul class="ds-recent-visitors" data-num-items="10"></ul>
                    <!--多说js加载开始，一个页面只需要加载一次 -->
                    <script type="text/javascript">
                        var duoshuoQuery = {short_name:"gefangshuai"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = 'http://static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!--多说js加载结束，一个页面只需要加载一次 -->
                </div>
            </div>
        </div>
    </div>
</section>