<div class="row">
    <div class="col-md-9">
        {{> flash-message}}

        <div class="panel panel-default">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">用户登录</li>
            </ol>
            <div class="panel-body">
                <form class="form-horizontal" action="/login" method="post">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-primary">登陆</button>
                            &nbsp;&nbsp;没有账户？ 请 <a href="/join">注册</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>