<div class="row">
    <div class="col-md-9">
        {{> flash-message}}

        <div class="panel panel-default">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">用户注册</li>
            </ol>
            <div class="panel-body">
                <form class="form-horizontal" action="/join" method="post">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">用户名</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">邮箱</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" class="col-sm-3 control-label">确认密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-primary">注册</button>
                            &nbsp;&nbsp;已有账户？ 请 <a href="/login">登陆</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>