<div class="login-box">
    {{> flash-message}}
    <div class="login-logo">
        <a href="/">{{site.title}}</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">账户注册</p>
        <form action="/join" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="username" placeholder="用户名" minlength="4" maxlength="8" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" name="email" placeholder="邮箱" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" placeholder="密码" minlenght="6" maxlength="24" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="confirm_password" placeholder="确认密码" minlenght="6" maxlength="24" required>
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-github">注 册</button>
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="/login" class="btn btn-block btn-primary btn-flat">登 录</a>
        </div>
    </div>
</div>
<script>
</script>