a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.breadcrumb {
    padding: 10px 15px;
}

.panel>.breadcrumb {
    border-color: #ddd;
    border-bottom: 1px solid #ddd;
}

.navbar {
    border-radius: 0px;
}

.bg-grey {
    background: #e1e1e1;
}

.articles {
    background: #ffffff;
}

.article {

    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.article a {
    color: #6c6c6c;
    text-decoration: none;
}

.article a:hover {
    color: #2c2c2c;
    text-decoration: none;
}
.margin10-r {
    margin-right: 10px;
}
.touxiang {
    width:32px;
    height:32px;
}
.article-title {
    font-size: 16px;
}