h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Consolas, "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.text-over {
    text-overflow: ellipsis;
}

h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 26px;
}

h3,
.h3 {
    font-size: 22px;
}

h4,
.h4 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

a {
    text-decoration: none;
}

.content-header {
    padding: 20px 15px;
}

.panel > .breadcrumb {
    border-color: #ddd;
    border-bottom: 1px solid #ddd;
}

.navbar {
    border-radius: 0px;
}

.bg-white {
    background: #fff;
}

.bg-grey {
    background: #e1e1e1;
}

.article {
    padding: 5px 10px;
}

.article-cell {
    vertical-align: middle;
}

.article a {
    color: #6c6c6c;
    text-decoration: none;
    font-size: 16px;
}

.article a:hover {
    color: #2c2c2c;
    text-decoration: none;
}

.touxiang {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.time-from-now {
    font-size: 11px;
    color: #6c6c6c;
}

.user-block {
    border-bottom: 1px solid #F0F0F0;
    padding: 12px 0;
}

.user-block .username {
    font-size: 22px;
    font-weight: 500;
}

img {
    max-width: 100%;
}

.flash-message {
    left: 50%;
    margin: 0 0 0 -180px;
    width: 360px;
    position: fixed;
    top: 20px;
    z-index: 999999;
    opacity: 0.8;
}

.flash-message:hover {
    opacity: 1;
}

.box-body {
    padding: 10px 15px;
}

.content-wrapper, .right-side {
    background-color: #E0E3E7;
}

code {
    padding: 2px 4px;
    font-size: 95%;
    color: #C7254E;
    background-color: #F2F2F2;
    border-radius: 4px;
}

blockquote {
    padding: 10px 10px;
    margin: 0px 0px 20px;
    font-size: 13px;
    border-left: 5px solid #EEE;
    background: #f6f6f6;
}

.font16 {
    font-size: 16px;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000000;
}

.box-body #content-preview {
    overflow: auto;
    height: 54vh;
}

.fullscreen #content-preview {
    overflow: auto;
    height: 84vh;
}

.box-body textarea {
    height: 38vh;
}

.fullscreen textarea {
    height: 70vh;
}

.comment .CodeMirror{
    height: 150px;
}
.create .CodeMirror{
    height: 165px;
}

.fullscreen .create .CodeMirror{
    height:360px;
}