<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h2>{{article.title}}</h2>
                    <small class="margin10-r">
                        <strong>{{article._user.username}}</strong>  发表于 {{timeFromNow article.created_time}}
                    </small>
                </div>
                <div>
                    {{article.content}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>