<div class="box box-primary">
    <div class="box-header with-border">
        <b>公告</b>
    </div>
    <div class="box-body">
        <p>
            为了保证站点文章的质量，所以本站采用邀请码机制进行注册。
        </p>
        <hr>
        <h3>获取邀请码的方法：</h3>
        <p>
            请发送
        <p>
            <code>获取《Wincn开发网》邀请码</code> + <code>您的姓名</code> +<code>Github地址或者个人博客地址</code>
        </p>
        到 <span class="text-primary">gefangshuai@outlook.com</span> 索取邀请码.
        </p>
        <p>
            欢迎 <b class="text-danger">对技术编码有狂热爱好的程序猿</b> 加入本站！
        </p>
    </div>
</div>
