<div class="box box-primary">
    <div class="box-header with-border">
        <b>温馨提示</b>
    </div>
    <div class="box-body">
        <p>
            本站致力于优质技术文摘分享，每一篇文章都是分享者精心筛选。
        </p>
        <hr>
        <h3>如何成为分享者：</h3>
        发送
        <div>
            <code>获取《Wincn开发网》注册码</code> + <code>您的姓名</code> +<code>Github地址或者个人博客地址</code>
        </div>
        到 <span class="text-primary"><a href="mailto:gefangshuai@outlook.com">gefangshuai@outlook.com</a></span> 索取注册码.
        </p>
        <p>
            欢迎 <b class="text-danger">技术Geeker</b> 加入本站！
        </p>
    </div>
</div>
