<div class="box  box-primary">
    <div class="box-header with-border ">
        <b>热评文章</b>
    </div>
    <div class="box-body">
        <!-- 多说热评文章 start -->
        <div class="ds-top-threads" data-range="monthly" data-num-items="10"></div>
        <!-- 多说热评文章 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"gefangshuai"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
</div>