<div class="box box-primary">
    <div class="box-header with-border">
        <b> <i class="fa fa-thumbs-up"></i> 支持我</b>
    </div>
    <div class="box-body">
        <img src="/img/pay.JPG" alt="">
        <p class="help-block small">支付备注里请注明 <code>赞助Wincn.net</code> 并留下联系方式，以备统计及后期的回报。 </p>
    </div>

</div>
