<div class="box box-primary">
    <div class="box-header with-border">
        <b> <i class="fa fa-thumbs-up"></i> 关注微信</b>
    </div>
    <div class="box-body">
        <img src="https://raw.githubusercontent.com/gefangshuai/wincn-static/master/imgs/qrcode_for_gh_d4117a038b97_258.jpg" alt="">
        <p class="help-block small">关注公共微信号 <code>飞奔去旅行</code> 了解更多。 </p>
    </div>

</div>
