<div class="box box-primary">
    <div class="box-header with-border">
        <b>支持我</b>
    </div>
    <div class="box-body">
        <p><strong>支付宝账号: <code>gefangshuai@163.com</code></strong></p>
        <p class="help-block">支付备注里请注明 <code>赞助Wincn.net</code> 并留下联系方式，以备统计及后期的回报。 </p>
    </div>
    <div class="box-footer text-danger">
        赞助的资金会 <b>完全</b> 投入到网站的运营中！
    </div>
</div>
