<div class="box box-primary">
    <div class="box-header with-border">
        <b>最近访客</b>
    </div>
    <div class="box-body">
        <ul class="ds-recent-visitors" data-num-items="50"></ul>
        <!--多说js加载开始，一个页面只需要加载一次 -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name: "{{site.duoshuo.short_name}}"};
            (function () {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';
                ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!--多说js加载结束，一个页面只需要加载一次 -->
    </div>
</div>
